<div class='container-fluid'>
  <div class="photo-container">
    <%= image_tag('waldo.jpg', class: 'img-responsive') %>
  </div>
 
    <div class='names-list'>
      <ul class="list-content">
        <li><%= link_to 'Waldo', game_tags_path, method: :post, remote: true %></li>
        <li><%= link_to 'Wenda', game_tags_path, method: :post, remote: true %></li>
        <li><%= link_to 'Odlaw', game_tags_path, method: :post, remote: true %></li>
        <li><%= link_to 'Wizard Whitebeard', game_tags_path, method: :post, remote: true %></li>
        <li><%= link_to 'Woof', game_tags_path, method: :post, remote: true %></li>
      </ul>
    </div>

</div>

